

header {
  position: relative;
  color: $on-primary;
  a {
    color: $on-primary;
  }
  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $background-showcase;      
  }

  nav {
    position: relative;
  }
}

#header {
 
  &-home {
    background: url($image-path) no-repeat center center / cover;
    height: 100vh;
  
    .header-content {
      position: absolute;
      text-align: center;    
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;     
    }
  }

  &-inner {
    background: url( $image-path ) no-repeat center center / cover;
    height: 5.5rem;
    border-bottom: 3px solid $primary-color;
  }
  @media(max-width: $tablet-width){
    &-inner {
      height: 9rem;
    }
  }
}


#home-a {
 
  text-align: center;
 

 .specials {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  h2 {
    color: $secondary-color;
    margin: 2rem 0;
  }
 }
 @media(max-width: $tablet-width){
   .specials { 
     grid-template-columns: repeat(2, 1fr); 
    }
 }
 @media(max-width: $phone-width){
  .specials { 
    grid-template-columns: 1fr;
    &>div {
      border-bottom: 1px solid $on-background-alt;
      padding: 2rem 0;
    }
    &>div:last-child {
      border-bottom: none;
    }
   }
}
}

#home-b {
 
  text-align: center;
  .stats {
    display:grid;
    grid-template-columns: repeat(4,1fr);

  

    @media(max-width: $phone-width){
      & {
        grid-template-columns: 1fr;
      }
    }

    &>div{
      padding: 1.3rem 0.5rem;
    }
    
    &>div:nth-child(even){
      background:$on-background-alt;
    }
    &>div:nth-child(odd){
      background:$background-solid;
    }
    i {
      color: $on-background;
    }
    ul li{
      margin:0.6rem 0;
    }
    ul>li:nth-child(2)  {
      font-size: 1.2rem;
    }
    ul>li:last-child  {
      font-size: 2rem;
      font-weight: 700;
    }
    
  }

}

#home-c {
  text-align: center;
  .process {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 2rem 0;
    @media(max-width:$tablet-width){
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media(max-width:$phone-width){
      & {
        grid-template-columns: 1fr;
      }
    }
 
    i {
      position: relative;
      border-radius: 50%;
      background: $on-background;
      color: $background-solid;
      width: 150px;
      height: 150px;
      margin: 2rem auto;
    
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;

      &>div{
        position: absolute;
        font-size: 1.5rem;
        top: 0rem;
        right: 0rem;        
        background: $primary-color;
        color: $on-primary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
    i:hover {
      background: $primary-color;
      color: $on-primary;
      &>div{
        background: $on-background;
        color: $background-solid;
      }
    }
    
  }
}


