#work-a {
 //@include portfolio-flex();
 .portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  .item {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 5px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}
 

  .flip-card  {
    background-color: transparent;
    width: 300px;
    height: 300px;    
    perspective: 1000px; 
    cursor: pointer;
  }


  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }


  .flip-card-front {
    background-color: #bbb;
  }

  .flip-card-back {
    background-color: #eee;
    transform: rotateY(180deg);
  }
}



