// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$primary-variant: #f4f4f4;
$medium-color: #ccc;
$primary-color: #333;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
